@import '../../variables';


.Processor {
    position: absolute;
    width: 100%;
    height: 90px;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 1;
    &__Button {
        top: 50%;
        right: 124px;
        transform: translateY(-50%);
        position: absolute;       
        background-color: transparent;
        svg {
            fill: $secondary;
            width: 36px;
            height: 36px;
        }
        margin: 0;
        padding: 0px;
        &:hover {
            background: none;
            svg {fill: $secondary-hover; }
        }
    }
    .Dropdown__Open {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        position: relative;
    }

}


.Toast {
    position: absolute;
    top: 77px;
    margin-left: -15px;
    margin-right: -15px;
    left: 0;
    width: calc(100% + 30px);
    z-index: 1;
    max-width: 600px;
    margin: 0 auto;
    .Item {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding: 15px 15px;
        flex-direction: row;
        background-color: $app-light;
        .Description {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            flex-direction: column;
            &__Title {
                font-size: 1em;
                margin: 0;
                margin-bottom: 5px;
                margin-top: 5px;
            }
            a { color: #aaa; }
        }
        .Status {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            width: 80px;
            svg { width: 36px; height: 36px; }
        }
        p:not(.Description__Title) { font-size: 0.85em; margin: 0; color: #aaa }
        border-bottom: 1px solid #efefef;
    }
}

.BcStatic {
    margin: 0;
    padding: 6px;
    &__Inner {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $secondary;
        transition: all .15s linear;
        &:hover { 
            background-color: $secondary-hover; 
        }
        &.WarningIcon {
            background-color: $danger;
            position: relative;
            &:after {
                content: "!";
                font-family: $base-font;
                font-size: .85em;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-weight: 900;
            }
            &:hover { 
                background-color: $danger-hover; 
            }
        }
    }
    
}

.Dropdown__Footer {
    width: calc(100% - 30px);
    background: $app-light;
    padding: 15px 15px;
    border-bottom: 1px solid #efefef;
}