@import '../../variables';

.MainNav {
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    z-index: 1;
    a {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        text-decoration: none;
        transition: all .15s ease-in-out;
        font-weight: 900;
        color: $base-font-color;
        fill: $base-font-color;
        &:hover { color: $primary-hover; fill: $primary-hover; }
        svg {
            width: 24px;
            height: auto;
            margin: 0 auto;
        }
    }
    &.Global {
        background-color: $app-light;
        border-top: 2px solid $app-dark;
    }
}