@import '../../variables';

.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: $app-light;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    .Close { 
        position: absolute; top: 25px; right: 25px; 
        background: none;
        margin: 0;
        padding: 0px;
        svg { fill: black; width: 36px; height: 36px; }
    }
    .Contents {
        padding: $base-padding;
        height: 100%;
        overflow: auto;
        p { max-width: 600px; }
        input { width: 100%; }
    }
}