@import '../../variables';

.TopNav {
  position: relative;
  width: 100%;
  height: 62px;
  .Brand {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 900;
    color: black;
    &:hover { color: $primary; }
    font-size: 1.5em;
    img { height: 48px; }
    @media (max-width: $phone) {
      font-size: 1.15em;
      max-width: 50%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .Auth {
    position: absolute;
    top: 15px;
    right: 0px;
    border: 2px solid $base-font-color;
    border-radius: 16px;
    padding: 5px 15px;
    background-color: $app-light;
    transition: all .15s linear;
    font-weight: 900;
    z-index: 98;
    &__Button {
      border-radius: 0px;
      padding: 0px;
      padding-right: 12px;
      margin: 0;
      text-decoration: none;
      transition: all .15s ease-in-out;
      background-color: transparent;
      color: $base-font-color;
      width: 90px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: left;
      svg {
        display: block;
        position: absolute;
        right: -5px;
        top: -3px;
        fill: $base-font-color;
      }
      &:hover {
        color: $primary-hover;
        svg { 
          fill: $primary-hover;
        }
      }
    }
  } 
}

.Dropdown {
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: all .15s linear;
  &__Open {
    transition: all .15s linear;
    height: auto;
    overflow: visible;
    &--Item {
      margin: 20px 0px !important;
      display: block;
    }
  }
}