@import '../../variables';

.MemberVotes {
    padding-bottom: 50px;
    .Item {
        padding: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $app-dark;
        .VoteCount {
            width: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            text-align: center;
            img { margin: 0 auto; }
            p {
                margin: 0 auto;
                margin-top: 5px;
                font-size: 0.85em;
                color: lighten($base-font-color, 50%);
                text-align: center;
            }
        }
    }
}