@import '../../variables';

// Copy from StackedVote.scss
.FullBar {
    width: 100%;
    height: 5px;
    position: relative;
    .Labels {
      position: relative;
      min-height: 5px;
        .NoLabel {
            width: 65px;
            padding: 0px;
            position: absolute;
            top: -50px;
            right: -62px;
            text-align: center;
            background-color: transparent;
            font-weight: 900;
            width: 65px;
            color: $tertiary;
        }
        .YesLabel {
            width: 65px;
            padding: 0px;
            position: absolute;
            top: -50px;
            left: -62px;
            text-align: center;
            background-color: transparent;
            font-weight: 900;
            width: 65px;
            color: $primary;
        }
    }
}
.BaseBar {
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: $app-dark;
}
.YesBar {
    height: 5px;
    position: absolute;
    background-color: $primary;
    left: 0px;
}
.NoBar {
    height: 5px;
    right: 0px;
    position: absolute;
    background-color: $tertiary;
}
.QuorumBar {
    width: 2px;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
// End Copy from StackedVote.scss

//ProposalCard overrides
.ProposalCard {
  background-color: $app-light;
  .CardVote {
    margin: 25px auto;
    .FullBar {
      margin-top: 50px;
      width: calc(100%)!important;
    }
    .YesLabel {
      left: 0px !important;
      top: -25px !important;
      text-align: right;
      width: auto !important;
    }
    .NoLabel {
      right: 0px !important;
      top: -25px !important;
      text-align: left;
      width: auto !important;
    }
  }
}

