@import '../../variables';

.VoteControl {
    position: fixed;
    bottom: 0;
    height: 105px;
    width: calc(100% - 0px);
    margin-left: -25px;
    border-top: 1px solid $app-dark;
    background-color: $app-light;
    z-index: 1;
    .Contents {
        position: relative; 
        width: 100%;
        height: 100%;
    }
    .Voter {
        width: 100%;
        height: 100%;
        position: relative;
    }
}

.Vote {
    width: 60px;
    height: 60px;
    border: 4px solid #000;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    color: black;
    position: absolute;
    img { width: 36px; }
    &:nth-child(1) {
        bottom: 15px;
        right: 15px;
        img { margin-top: 4px; }
    }
    &:nth-child(3) {
        bottom: 15px;
        left: 15px;
        img { margin-top: 4px; }
    }
    &.Yes {
        border-color: $primary;
        &:hover {
            border-color: $primary;
            background-color: $primary;
        }
        &.Voted {
            background-color: $primary;
        }
    }
    &.No {
        border-color: $tertiary;
        &:hover {
            border-color: $tertiary;
            background-color: $tertiary;
        }
        &.Voted {
            background-color: $tertiary;
        }
    }
}