@import '../../variables';

.Header {
    background-color: $app-light;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    color: black;
    border-bottom: 2px solid $app-dark;
    width: calc(100% - 30px);
    padding: 0px 15px;
}