.ProposalEngine {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  h1 {
    margin-top: 50px;
  }
  p {
    margin-bottom: 50px;
  }
  a {
    display: block;
    text-align: center;
    margin: 25px auto;
    font-size: 1.35em;
    font-weight: 700;
  }
}
