.MemberDetail {
}

.Offer {
  margin-top: 25px;
  margin-bottom: 25px;
}

.MemberCard__identity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MemberCard__image {
  margin-right: 10px;
}

.ProfileImgCard {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
