@import '../../variables';

.MemberLink {
  color: $base-font-color;
  .MemberCard {
    @media (min-width: $phone) {
      border-radius: 10px;
    }
    h3 {
      margin: 10px 0px;
    }
    .Addr {
      margin-bottom: 10px;
    }
  }
}

.MemberCard__identity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.MemberCard__image {
  margin-right: 10px;
}

.ProfileImgCard {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
