@import '../../variables';

.Home {
    width: 100%;
    text-align: center; 
    img { width: 200px; }
    h1 {
        text-align: center;
        font-size: 36px;
    }
    p {
        text-align: center;
        font-weight: 900;
        margin: 0px;
        margin-bottom: 25px;
    }
    .Intro {
        height: calc(50vh - 90px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: $base-padding;
    }
}

.Data {
    h4, h5, h3, h2, p { margin: 0; }
    h2, h3 { font-weight: 100; }
    h2 { font-size: 36px; }
    h3 { font-size: 28px; }
    .Row {
        justify-content: space-evenly;
        margin-top: 25px;
    }
    .Bank, .Shares, .ShareValue {
        cursor: pointer;
        h2, h3 { font-weight: 300; transition: all .15s linear; }
        &:hover h5 { color: $primary; }
        &.Selected {
            h2, h3 { font-weight: 400; }
        }
    }
}

.Chart {
    position: absolute;
    bottom: 0px;
    width: 100%;
    // max-width: 420px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}