* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  color: #394352;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100vw;
  max-width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
#root {
  height: 100%;
}
button > * {
  pointer-events: none;
}
